<!-- <p>grid works!</p> -->
<input matInput
  [(ngModel)]="n"
  type="number"
  (input)="onSizeInput()"
  placeholder="{{n}}">
  <input matInput
  [(ngModel)]="m"
  type="number"
  placeholder="{{m}}">

  <div [ngStyle]="{'height': (n * m) + 'px', 'width': (n * m) + 'px'}"  >
    <mat-grid-list cols="{{n}}" rowHeight="1:1" gutterSize="0">
      @for (col of grid; track col; let colIndex = $index) {
        @for (cell of col; track cell; ; let rowIndex = $index) {
          <mat-grid-tile Rowspan="1" Colspan="1" >
            <app-grid-cell
            tabindex= "0"
            [gridCell]= ""
            (keydown)= "onKeydown($event, currentCol, currentRow)"
            [attr.data-row]="rowIndex"
            [attr.data-col]="colIndex"
            [ngStyle]="{'height': '80px', 'width': '80px'}"
            ></app-grid-cell>
          </mat-grid-tile>
        }
      }
    </mat-grid-list>
  </div>


