.grid-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 0fr));
  grid-gap:0px;
}

.grid-list-container {
  // height: 400px;
  // width: 400px;
}

.grid-tile {
  height: 40px;
  width: 40px;
}
